# Server
PORT=
NODE_ENV=
APP_LOGIN_URL=
FRONTEND_URL=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN= 

# TypeORM
TYPEORM_SYNCHRONIZE=
TYPEORM_LOGGING=

#Support Mailer
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=