# Server
PORT=
NODE_ENV=
APP_LOGIN_URL=
FRONTEND_URL=
PDF_HEADER_IMAGE_URL=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN= 

# TypeORM
TYPEORM_SYNCHRONIZE=
TYPEORM_MIGRATIONS_RUN=

# Seed admin
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_NAME=

#Support Mailer
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_URL=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TEMP_BUCKET=
SUPABASE_TEMP_TTL_SECONDS=